
main {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.fontcode {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    
}
.logo {
    width: auto;
    height: 100px;
}
.leve {color: yellow}
.grave {color: orange}
.peligroso {color: red}
.enemigo {color: brown}
